<nav class="header-visitor container fixed-top">
    <div class="navbar navbar-dark navbar-expand-lg rounded-4 justify-content-between">
        <a class="navbar-brand py-0 me-auto" href="index.html">
            <img src="/assets/images/Logo_w.png" alt="Pulse" width="40" height="40">
        </a>
        <button class="nav-btn btn btn-outline-primary rounded-3 me-2 pe-lg-2 order-lg-3">免費試用</button>
        <button class="navbar-toggler order-lg-2 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link me-2" href="#">PULSE Web Player</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="SubscriptionPlans.html">訂閱方案</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="#">註冊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" href="#">登入</a>
                </li>
            </ul>
        </div>

    </div>
</nav>