.login-bg {
  background-position: 70% 85%;
}

.font-shadow {
  text-shadow: 2px 2px 40px rgba(255, 255, 255, 0.25),
    2px 2px 20px rgba(255, 255, 255, 0.45);
}

.input-border-third {
  border: 1px solid $third;
}

.btn-google {
  border: 1px solid $third;
  background: $white-bg;
  &:hover {
    border: 1px solid $third;
  }
}
