//	hero
.index {
	.hero-header {
		height: 812px;
		background-position: 70% 85%;
		.img-banner {
			mix-blend-mode: multiply;
			object-fit: cover;
			width: 100vw;
		}
	}
	.hero-content {
		width: 80%;
		.sub-title {
			font-size: 1.25rem;
		}
	}
}
@media screen and (min-width: 992px) {
	.index {
		.hero-header {
			height: auto;
		}
		.hero-content {
			width: 70%;
			.sub-title {
				font-size: 2rem;
			}
		}
	}
}

// All
.index {
	.btn-customize-padding {
		padding-right: 32px;
	}
	.btn-lg {
		font-size: 1.25rem;
		padding: 1.25rem 1.5rem;
		span {
			overflow: clip;
		}
		.btn-icon {
			position: relative;
		}
		&:hover .btn-icon {
			animation-name: btn-arrow-top-right;
			animation-duration: 500ms;
			animation-timing-function: ease;
		}
	}
	.btn-arrow-bg-light {
		background-color: $third;
	}
	.bg-white-opacity {
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(25px)
	}
	.btn.bg-white-opacity:hover {
		background-color: rgba(255,255,255,0.2);
	}
	.card-dark {
		border: 1px solid $third;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
		background-color: $white-bg;
	}
}
@media screen and (min-width: 992px) {
	.index {
		.btn-lg {
			font-size: 2rem;
			padding: 1.5rem 3rem;
		}
		.card-lg {
			padding: 64px;
		}
		.card-detailed {
			.card-body {
				gap: 48px;
			}
		}
	}
}

//超乎想像的音樂盛宴 Card Large
.index{
	.card-lg {
		padding: 32px;
		border-radius: 1.5rem;
		.card-body {
			padding: 0;
		}
	}
	.swiper-button-next::after, .swiper-button-prev::after {
		content: "";
	}
	.swiper-button-prev, .swiper-button-next {
		height: 5rem;
		width: 5rem;
		background-color: $white-bg;
		transform: translateY(-50%);
	}
	.swiper-button-next svg, .swiper-button-prev svg {
		width: 1.5rem;
		height: 1.5rem;
	}
	.swiper {
		.swiper-wrapper {
			flex-direction: column;
			@media screen and (min-width: 768px) {
				flex-direction: row;
			}
		}
	}
}	

// 探索你愛的音樂類型 Section
.index{
	.section-marquee {
		.sub-title {
			margin-top: 400px;
		}
	}
	.marquee-svg {
		width: 2000px;
		top: calc(96px + 37%);
	}
	.card-carousel {
		.card {
			position: absolute;
			width: 306px;
			top: 0;
			padding: 24px;
			backdrop-filter: blur(25px);
			border-radius: 1.5rem;
			transition: scale ease 200ms;
			&:hover {
				scale: 1.02 !important;
			}
		}
		.card-body {
			background-color: rgba(18, 18, 18, 0.8);
			border-radius: 0 0 1rem 1rem;
		}
	}
}
@media screen and (min-width: 576px) {
	.index{
		.marquee-svg {
			top: calc(96px + 39%);
		}
	}
}
@media screen and (min-width: 768px) {
	.index{
		.marquee-svg {
			top: calc(96px + 35%);
		}
		.section-marquee {
			.sub-title {
				margin-top: 440px;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	.index{
		.marquee-svg {
			top: calc(160px + 32.5%);
		}
	}
}
@media screen and (min-width: 1400px) {
	.index{
		.marquee-svg {
			top: calc(160px + 26%);
		}
	}
}
@media screen and (min-width: 1800px) {
	.index{
		.marquee-svg {
			width: 150%;
			top: calc(160px + 17vw);
		}
	}
}

// 趨勢排行週榜 Card Horizontal
.index{
	.card-horizontal {
		.card-header .icon {
			width: 1.5rem;
		}
		.card-title {
			font-size: 1.75rem;
		}
		.card-body {
			padding-top: 1.5rem;
			padding-bottom: 4rem;
			padding-inline: 0;
		}
		.card-body-img {
			border-radius: 1rem;
		}
		.card-body-img-icon {
			padding: 1.5rem;
			width: 100%;
			height: 100%;
			stroke-width: 1;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(25px);
			border-radius: 1rem;
			opacity: 0;
			transition: opacity ease 200ms;
		}
		.card-link:hover + .card-body .card-body-img-icon {
			opacity: 1;
		}
	}
}

// 訂閱方案 Card Detailed
.index{
	.card-detailed {
		padding: 1.5rem;
		border-radius: 1rem;
		.card-title {
			font-size: 2rem;
		}
		.card-body {
			gap: 32px;
		}
		.card-btn-icon {
			visibility: hidden;
			width: 1px;
			transform: translateX(-10px);
			transition: all ease 200ms;
		}
		.card-btn {
			transition: all ease 300ms;
		}
		.card-btn:hover .card-btn-icon{
			visibility: visible;
			width: 24px;
			transform: translateX(0);
		}
	}
}


@keyframes btn-arrow-top-right {
	0%{
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(50px, -50px);
	}
	51% {
		transform: translate(-50px, 50px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}