.navbar-player {
  background: $white-bg;
  backdrop-filter: blur(25px);
}

input[type="search"] {
  background: $white-bg;
  border: 1px solid $third;
  padding-right: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.player-search {
  width: 556px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.player-icon-search {
  position: absolute;
  right: 3%;
  border: 0;
  background: none;
  color: white;
  align-self: center;
}

.player-icon-list {
  border: 1px solid $third;
  background: $white-bg;
}

.player-scrollbar {
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding-top: 120px;
  @include media-breakpoint-down(lg) {
    height: auto;
    overflow-y: unset;
  }
  &-sm {
    @include media-breakpoint-down(lg) {
      padding-top: 0px;
    }
  }
}

// 滾動條樣式
.player-scrollbar::-webkit-scrollbar {
  width: 12px;
  // 軌道背景
  &-track {
    background: transparent;
    margin-bottom: 20px;
    margin-top: 120px;
  }
  // 滾輪設置
  &-thumb {
    background-color: $black;
    border-radius: 6px;
    &:hover {
      background-color: $white-bg;
    }
  }
}

.player-bg {
  background: $white-bg !important;
  --bs-list-group-bg: $white-bg;
}

.player-list-border {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;
}

.player-list-border::after {
  content: "";
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 0;
  height: 1px;
  background-color: $third;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: $third !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.carousel-img-1 {
  // background-image: url("/assets/images/carousel-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  border-radius: 16px;
  border: 1px solid $third;
}

.carousel-img-2 {
  // background-image: url("/assets/images/carousel-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  border-radius: 16px;
  border: 1px solid $third;
}

.carousel-img-3 {
  // background-image: url("/assets/images/carousel-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 320px;
  border-radius: 16px;
  border: 1px solid $third;
}

.mySwiper-player-1 .swiper-pagination {
  top: 0 !important;
  bottom: 100% !important;
  display: flex;
  justify-content: end;
  position: absolute;
  padding-top: 48px;
  padding-right: 24px;
  right: 0;
  z-index: 1;
  // @include media-breakpoint-down(lg) {
  //   position: relative;
  //   justify-content: center;
  //   width: auto !important;
  // }
}
.mySwiper-player-1 .swiper-button {
  &-prev-player-1 {
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1;
    margin-right: 56px;
    margin-bottom: 48px;
    cursor: pointer;
    // @include media-breakpoint-down(lg) {
    //   position: relative;
    //   padding-top: 38px;
    //   margin-bottom: 0px;
    // }
  }
  &-next-player-1 {
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    z-index: 1;
    margin-right: 24px;
    margin-bottom: 48px;
    cursor: pointer;
    // @include media-breakpoint-down(lg) {
    //   position: relative;
    //   padding-top: 38px;
    //   margin-bottom: 0px;
    // }
  }
}

.btn-player-listen {
  border: 1px solid $third;
  border-radius: 100px;
  padding: 12px 24px;
  &:hover {
    border: 1px solid white;
    & .btn-player-arrow-right {
      transition: transform 0.3s ease;
      transform: translateX(10px);
    }
  }

  &-heart {
    border: 1px solid $third;
    padding: 14px;
    &:hover {
      border: 1px solid white;
    }
    & svg.fill-red {
      fill: red;
      color: red;
    }
  }
}

.mySwiper-player-2 {
  border: 1px solid $third;
  background: $white-bg;
  border-radius: 16px;
}

.card-playlist {
  border: 1px solid $third;
  box-shadow: 0px 4px 20px 0px #00000026;
  backdrop-filter: blur(25px);
  height: 100%;
  width: 100%;
  cursor: pointer;
  --bs-card-bg: $white-bg;
  &:hover {
    background: $white-bg;
  }
}

.card-peoplelist {
  background: none;
  cursor: pointer;
  &:hover {
    background: $white-bg;
  }
}

.player-img {
  max-width: 100%;
  // max-height: 200px;
  aspect-ratio: 1 / 1;
}

.player-icon-btn {
  border: 0;
  &:hover {
    svg {
      filter: drop-shadow(0 0 5px #fff);
    }
  }
}

.player-comp {
  border: 1px solid $third;
  background: black;
  &-btn-circle {
    background-color: $third !important;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(lg) {
      background-color: black !important;
    }
  }
}

.accent-color {
  accent-color: white;
}

input[type="range"] {
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: $white-bg;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  backdrop-filter: blur(25px);
  box-shadow: 0px 2px 10px 0px #00000026;
}

.search-input {
  border: none !important;
  background-color: transparent !important;
  flex-grow: 1;
  outline: none;
  caret-color: white;
  color: white;
}

.btn-close {
  &:focus {
    box-shadow: none;
  }
  &:hover {
    filter: drop-shadow(0 0 5px #fff);
  }
}

.separator {
  height: 100%;
  width: 1px;
  background-color: #ffffff26;
  margin: 0 10px;
}

/* 當 offcanvas 顯示時隱藏 footer */
body:has(.offcanvas.show) .player-comp {
  display: none;
}

@keyframes rotate90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.rotate90:hover {
  animation: rotate90 0.5s linear;
}

.border-transparent {
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.mySwiper-player-1, .mySwiper-player-2{
  .swiper-slide {
    height: auto;
  }
}


//搜尋結果新增
.card-song {
  cursor: pointer;
  .img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
  &:hover {
    background: $white-bg;
  }
}
.card-album {
  &:hover {
    background: $white-bg;
  }
}
.card-genre {
  &:hover {
    background: $white-bg;
  }
}

.side-menu {
  .list-group-item a{
    &:hover,&.active {
      .icon {
        stroke: $primary-yellow;
      }
      background: $white-bg;
      color: $white;
    }
  }
}
