.index {
	//	hero
	.hero-header {
		height: 812px;
		background-position: 70% 85%;
		.img-banner {
			mix-blend-mode: multiply;
			object-fit: cover;
		}
	}
	.hero-content {
		width: 80%;
		.sub-title {
			font-size: 1.25rem;
		}
	}
	// All
	.btn-customize-padding {
		padding-right: 32px;
	}
	.btn-lg {
		font-size: 1.25rem;
		padding: 1.25rem 1.5rem;
	}
	.btn-arrow-bg-light {
		background-color: $third;
	}
	.bg-white-opacity {
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(25px)
	}
	.btn.bg-white-opacity:hover {
		background-color: rgba(255,255,255,0.2);
	}
	.card-dark {
		border: 1px solid $third;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
		background-color: $white-bg;
	}
	//超乎想像的音樂盛宴 Card Large
	.card-lg {
		padding: 32px;
		border-radius: 1.5rem;
		.card-body {
			padding: 0;
		}
	}
	// 探索你愛的音樂類型 Section
	.swiper-button-next::after, .swiper-button-prev::after {
		content: "";
	}
	.swiper-button-prev, .swiper-button-next {
		height: 5rem;
		width: 5rem;
		background-color: $white-bg;
		transform: translateY(-50%);
	}
	.swiper-button-next svg, .swiper-button-prev svg {
		width: 1.5rem;
		height: 1.5rem;
	}
	.card-carousel {
		position: absolute;
		left: calc(50% - 153px);
		top: 21rem;
		transform-origin: 153px 2500px;
		will-change: transform;
		.card {
			position: absolute;
			height: fit-content;
			transform-origin: 153px 2800px;
			@for $i from 0 through 7 {
				&:nth-child(#{$i}) {
					transform: rotate(#{$i * 8}deg) translateX(#{$i * -60}px);
				}
			}
			&:active {
				cursor: grabbing;
			}
			// div {
			// 	width: 300px;
			// 	height: 400px;
			// 	border-radius: 5px;
			// 	background: currentColor;
			// }
		}
		.card {
			width: 306px;
			padding: 24px;
			backdrop-filter: blur(25px);
			border-radius: 1.5rem;
		}
		.card-body {
			background-color: rgba(18, 18, 18, 0.8);
			border-radius: 0 0 1rem 1rem;
		}
	}
	// 趨勢排行週榜 Card Horizontal
	.card-horizontal {
		.card-header .icon {
			width: 1.5rem;
		}
		.card-title {
			font-size: 1.75rem;
		}
		.card-body {
			padding-top: 1.5rem;
			padding-bottom: 4rem;
			padding-inline: 0;
		}
		.card-body-img {
			border-radius: 1rem;
		}
		.card-body-img-icon {
			padding: 1.5rem;
			width: 100%;
			height: 100%;
			stroke-width: 1;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(25px);
			border-radius: 1rem;
			opacity: 0;
			transition: opacity ease 200ms;
		}
		.card-link:hover + .card-body .card-body-img-icon {
			opacity: 1;
		}
	}
	// 訂閱方案 Card Detailed
	.card-detailed {
		padding: 1.5rem;
		border-radius: 1rem;
		.card-title {
			font-size: 2rem;
		}
		.card-body {
			gap: 32px;
		}
		.card-btn-icon {
			visibility: hidden;
			width: 1px;
			transition: all ease 200ms;
		}
		.card-btn {
			transition: all ease 300ms;
		}
		.card-btn:hover .card-btn-icon{
			visibility: visible;
			width: 24px;
		}
	}
}
@media screen and (min-width: 992px) {
	.index {
		.hero-header {
			height: auto;
		}
		.hero-content {
			width: 70%;
			.sub-title {
				font-size: 2rem;
			}
		}
		.btn-lg {
			font-size: 2rem;
			padding: 1.5rem 3rem;
		}
		.card-lg {
			padding: 64px;
		}
		.card-detailed {
			.card-body {
				gap: 48px;
			}
		}
	}
}
