* {
    font-family: "Noto Sans TC", sans-serif;
}
.mt40 {
    margin-top: 40px;
}
.blur-font {
    text-shadow: 
    2px 2px 40px rgba(255, 255, 255, 0.25),
    2px 2px 20px rgba(255, 255, 255, 0.45);
}
.subscription-banner {
    background-image: url(/assets/images/Subscription_Serenity_Musical_Escape.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1080px;
}
.mobile-item {
    display: none;
}
.pc-item {
    display: block;
}
.sub-title1 {
    font-size: 120px;
    font-weight: 900;
}
.sub-title2 {
    font-size: 96px;
    font-weight: 900;
}
.sub-title3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.explore-tab {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(25px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}
.feature-card-img {
    width: 150px;
    height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5%;
    background: linear-gradient(143.97deg, rgba(27, 135, 181, 0.07) -17.08%, rgba(0, 0, 0, 0.03) 74.26%);
}
.feature-card-img > svg {
    height: 78px;
}
.plan-banner {
    padding-top: 144px;
}
.plan-discription {
    top: -30px;
    left: 20px;
}
.plan-card {
	background-color: rgba(83, 81, 81, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    flex-wrap: nowrap;
    cursor: pointer;
}
.plan-card .pc-arrow {
    display: none;
}
.plan-card:hover .pc-arrow {
    display: block;
}
.plan-card > .mobile-arrow {
    display: none;
}
.more-info {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 45px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    display: none;
}
.QA-group {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 576px) {
    .mobile-item {
        display: block;
    }
    .pc-item {
        display: none;
    }
    .sub-title1 {
        font-size: 64px;
    }
    .sub-title2 {
        font-size: 48px;
    }
    .subscription-banner {
        height: 812px;
        align-items: end !important;
    }
    .explore-tab {
        margin-bottom: 20px;
    }
    .feature-card {
        flex-direction: row !important;
        align-items: start !important;
        padding-right: 13.5px;
        padding-left: 13.5px;
        padding-top: 48px;
    }
    .feature-card-img {
        margin-right: 24px;
        height: 120px;
        width: 120px;
    }
    .feature-text {
        align-items: start !important;
    }
    .plan-banner {
        padding-top: 0px;
        margin-bottom: 48px;
    }
    .plan-banner > .plan-discription {
        top: unset;
        bottom: 50px;
    }
    .premium > .plan-discription {
        top: unset;
        bottom: 25px;
    }
    .plan-card {
        flex-wrap: wrap;
    }
    .plan-card > .mobile-arrow {
        display: block;
    }
    .plan-card:hover .pc-arrow {
        display: none;
    }
    .discription {
        width: 100%;
    }
    .price {
        width: 50%;
    }
    .more-info {
        display: flex;
    }
    .question img {
        width: 16px;
    }
}