<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
		<title>PULSE 無損音質感受音樂的脈動</title>
		<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
	</head>
	<body>
		<%- include('./layout/header-visitor'); -%>
		<main class="index">
			<!-- Hero -->
			<section class="hero-header position-relative" style="background-image: url(../assets/images/linear.png);">
				<picture>
					<source media="(min-width: 576px)" srcset="/assets/images/hero-banner.jpg">
					<img class="img-banner img-fluid h-100" src="/assets/images/hero-banner-sm.jpg" alt="girl with headset">
				</picture>
				<div class="hero-content d-flex flex-wrap flex-column justify-content-center align-items-center position-absolute top-50 start-50 translate-middle mt-6 mt-sm-5 mt-lg-6">
					<p class="sub-title mb-4 mb-lg-11">🎧 無損音質感受音樂的脈動</p>
					<picture>
						<source media="(min-width: 992px)" srcset="/assets/images/hero-title-lg.png">
						<img class="img-title img-fluid mb-lg-5 mb-4" src="/assets/images/hero-title-sm.png" alt="girl with headset">
					</picture>
					<div class="btn-container d-flex justify-content-center flex-wrap flex-lg-nowrap">
						<a class="btn-customize-padding btn btn-lg rounded-pill text-white d-flex align-items-center order-lg-2" href="#">查看方案<span class="btn-arrow btn-arrow-bg-light rounded-pill px-3 px-lg-5 py-1 py-lg-2 ms-5 d-lg-flex align-items-center justify-content-center d-none"><i data-lucide="arrow-up-right"></i></span></a>
						<a class="btn-customize-padding bg-white-opacity btn btn-lg btn-outline-third rounded-pill text-white d-flex align-items-center me-lg-5 order-lg-1" href="#">Listen now<span class="btn-arrow rounded-pill bg-white px-3 px-lg-5 py-1 py-lg-2 ms-5 d-flex align-items-center justify-content-center"><i data-lucide="arrow-up-right" class="text-dark"></i></span></a>
					</div>
				</div>
			</section>
			<!-- 超乎想像的音樂盛宴 -->
			<section class="py-9 py-lg-10">
				<div class="container">
					<p class="display-1 text-center text-uppercase mb-3 mb-lg-4">Melodies<br>
						That<br>
						Defy<br>
						Imagination
					</p>
					<p class="h1 text-center mb-6 mb-lg-8">超乎想像的音樂盛宴</p>
					<!-- Slider main container -->
					<div class="swiper overflow-">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper flex-column flex-md-row">
							<!-- Slides -->
							<div class="swiper-slide mb-5 mb-md-0">
								<div class="row justify-content-center gy-4">
									<div class="col-md-6 col-lg-4">
										<div class="card card-lg card-dark bg-white-opacity h-100">
											<img src="/assets/images/card-pic-1_1.png" class="card-img-top mb-5" alt="speaker">
											<div class="card-body">
												<h4 class="card-title mb-2">無損音質</h4>
												<p class="card-text">無可挑剔的細膩，超越CD的聆聽體驗</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="card card-lg card-dark bg-white-opacity h-100">
											<img src="/assets/images/card-pic-1_2.png" class="card-img-top mb-5" alt="list of songs">
											<div class="card-body">
												<h4 class="card-title mb-2">個人化推薦歌單</h4>
												<p class="card-text">系統自動推薦最適合你的歌單，讓你不斷發掘新的好聲音</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="row justify-content-center gy-4">
									<div class="col-md-6 col-lg-4">
										<div class="card card-lg card-dark bg-white-opacity h-100">
											<img src="/assets/images/card-pic-1_3.png" class="card-img-top mb-5" alt="moody vibe">
											<div class="card-body">
												<h4 class="card-title mb-2">情境歌單</h4>
												<p class="card-text">選擇最適配心情的歌單，歡樂到悲傷都有PULSE陪伴</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-lg-4">
										<div class="card card-lg card-dark bg-white-opacity h-100">
											<img src="/assets/images/card-pic-1_4.png" class="card-img-top mb-5" alt="couple listening together">
											<div class="card-body">
												<h4 class="card-title mb-2">開台一起聽</h4>
												<p class="card-text">在線邀請所有人聆聽你最愛的曲目，一起聽音樂聊是非</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
						<!-- If we need navigation buttons -->
						<div class="swiper-button-prev rounded-circle"><i data-lucide="chevron-left" class="text-white"></i></div>
						<div class="swiper-button-next rounded-circle"><i data-lucide="chevron-right" class="text-white"></i></div>
					</div>
				</div>
			</section>
			<!-- 探索你愛的音樂類型 -->
			<section class="py-9 py-lg-10 position-relative overflow-hidden" style="height:800px;">
				<div class="container">
					<p class="display-1 text-center text-uppercase">Your Musical Journey</p>
				</div>
				<div class="card-carousel">
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_6.png" class="card-img-top" alt="vintage guitar">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">鄉村</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_4.png" class="card-img-top" alt="a japanese">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">日語</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_3.png" class="card-img-top" alt="violin">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">古典</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_1.png" class="card-img-top" alt="pop singer">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">POP</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_2.png" class="card-img-top" alt="edm music festival">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">ELECTRONIC</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_5.png" class="card-img-top" alt="asian singer">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">華語流行</h4>
						</div>
					</div>
					<div class="card card-dark bg-white-opacity">
						<img src="/assets/images/card-pic-2_7.png" class="card-img-top" alt="band">
						<div class="card-body py-5">
							<h4 class="card-title text-center mb-0">獨立樂團</h4>
						</div>
					</div>
				</div>
				<p class="h1 text-center mb-6 mb-lg-8">探索你愛的音樂類型</p>
			</section>
			<!-- 趨勢排行週榜 -->
			<section class="py-9 py-lg-10">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-md-6 col-lg-5">
							<p class="display-1 text-uppercase mb-3 mb-lg-4">Weekly<br>
								Top<br>
								Hits
							</p>
							<p class="h1">趨勢排行週榜</p>
							<h5>週週推薦最新流行音樂，時刻走在流行最前線</h5>
						</div>
						<ul class="col-md-6">
							<li class="card card-horizontal">
								<div class="card-header d-flex justify-content-between bg-transparent px-0 py-3 border-bottom border-third border-opacity-10">
								  	<p class="mb-0">01</p>
									<img class="icon" src="/assets/images/Logo_none-text.png" alt="">
								</div>
								<a href="#" class="card-link stretched-link"></a>
								<div class="card-body d-flex justify-content-between align-items-center">
									<div>
										<h3 class="card-title mb-3">Not Even Love</h3>
										<p class="card-text h6">ILLENIUM, Seven Lions</p>
									</div>
									<div class="position-relative">
										<img class="card-body-img" src="/assets/images/card-pic-3_1.png" alt="not even love">
										<i class="card-body-img-icon position-absolute start-50 top-50 translate-middle" data-lucide="circle-play"></i>
									</div>
								</div>
							</li>
							<li class="card card-horizontal">
								<div class="card-header d-flex justify-content-between bg-transparent px-0 py-3 border-bottom border-third border-opacity-10">
								  	<p class="mb-0">02</p>
									<img class="icon" src="/assets/images/Logo_none-text.png" alt="">
								</div>
								<a href="#" class="card-link stretched-link"></a>
								<div class="card-body d-flex justify-content-between align-items-center">
									<div>
										<h3 class="card-title mb-3">It Runs Through Me</h3>
										<p class="card-text h6">Tom Misch</p>
									</div>
									<div class="position-relative">
										<img class="card-body-img" src="/assets/images/card-pic-3_2.png" alt="not even love">
										<i class="card-body-img-icon position-absolute start-50 top-50 translate-middle" data-lucide="circle-play"></i>
									</div>
								</div>
							</li>
							<li class="card card-horizontal">
								<div class="card-header d-flex justify-content-between bg-transparent px-0 py-3 border-bottom border-third border-opacity-10">
								  	<p class="mb-0">03</p>
									<img class="icon" src="/assets/images/Logo_none-text.png" alt="">
								</div>
								<a href="#" class="card-link stretched-link"></a>
								<div class="card-body d-flex justify-content-between align-items-center">
									<div>
										<h3 class="card-title mb-3">Delilah</h3>
										<p class="card-text h6">Fred Again..</p>
									</div>
									<div class="position-relative">
										<img class="card-body-img" src="/assets/images/card-pic-3_3.png" alt="not even love">
										<i class="card-body-img-icon position-absolute start-50 top-50 translate-middle" data-lucide="circle-play"></i>
									</div>
								</div>
							</li>
							<li class="card card-horizontal">
								<div class="card-header d-flex justify-content-between bg-transparent px-0 py-3 border-bottom border-third border-opacity-10">
								  	<p class="mb-0">04</p>
									<img class="icon" src="/assets/images/Logo_none-text.png" alt="">
								</div>
								<a href="#" class="card-link stretched-link"></a>
								<div class="card-body d-flex justify-content-between align-items-center">
									<div>
										<h3 class="card-title mb-3">Monster</h3>
										<p class="card-text h6">Don Diablo</p>
									</div>
									<div class="position-relative">
										<img class="card-body-img" src="/assets/images/card-pic-3_4.png" alt="not even love">
										<i class="card-body-img-icon position-absolute start-50 top-50 translate-middle" data-lucide="circle-play"></i>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<!-- 訂閱方案 -->
			<section class="py-9 py-lg-10">
				<div class="container">
					<p class="display-1 text-uppercase mb-4 text-center">Pricing</p>
					<p class="h1 mb-4 text-center">訂閱方案</p>
					<h5 class="mb-8 text-center">多樣的收費方式，滿足你的各種需求</h5>
					<div class="row gy-5 justify-content-center">
						<div class="col-md-6 col-lg-4">
							<div class="card card-detailed card-dark h-100">
								<div class="card-body p-0 d-flex flex-column">
									<h5>免費試用</h5>
									<h2 class="card-title mb-0">FREE</h2>
									<a href="#" class="card-btn btn btn-primary w-100 fs-5 d-flex align-items-center justify-content-center position-relative">選擇方案<i data-lucide="arrow-right" class="card-btn-icon text-dark"></i></a>
									<ul class="card-text mt-3 mt-md-5">
										<li>可使用網頁播放器</li>
										<li>標準音質</li>
										<li>30天免費試用</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="card card-detailed card-dark h-100">
								<div class="card-body p-0 d-flex flex-column">
									<h5>SOLO</h5>
									<h2 class="card-title mb-0">NT$149／月</h2>
									<a href="#" class="card-btn btn btn-primary w-100 fs-5 d-flex align-items-center justify-content-center position-relative">選擇方案<i data-lucide="arrow-right" class="card-btn-icon text-dark"></i></a>
									<ul class="card-text mt-3 mt-md-5 mb-7">
										<li>單人方案（限1人使用）</li>
										<li>可使用APP及網頁播放器</li>
										<li>無損音質</li>
										<li>可使用開台一起聽－直播電台功能</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="card card-detailed card-dark h-100">
								<div class="card-body p-0 d-flex flex-column">
									<h5>Family</h5>
									<h2 class="card-title mb-0">NT$399／月</h2>
									<a href="#" class="card-btn btn btn-primary w-100 fs-5 d-flex align-items-center justify-content-center position-relative">選擇方案<i data-lucide="arrow-right" class="card-btn-icon text-dark"></i></a>
									<ul class="card-text mt-3 mt-md-5 mb-7">
										<li>家庭方案（可供上限6人使用）</li>
										<li>可使用APP及網頁播放器</li>
										<li>無損音質</li>
										<li>可使用開台一起聽－直播電台功能</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="d-flex justify-content-center mt-6 mt-md-8">
						<a class="btn-customize-padding bg-white-opacity btn btn-lg btn-outline-third rounded-pill w-auto text-white d-flex align-items-center me-lg-5 order-lg-1" href="#">更多訂閱方案<span class="btn-arrow rounded-pill bg-white px-3 px-lg-5 py-1 py-lg-2 ms-5 d-flex align-items-center justify-content-center"><i data-lucide="arrow-up-right" class="text-dark"></i></span></a>
					</div>
				</div>
			</section>
		</main>

		<%- include('./layout/footer'); -%>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script>
			const swiper = new Swiper('.swiper', {
				// Optional parameters
				direction: 'horizontal',
				loop: true,
				// Navigation arrows
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			});
			let width = window.innerWidth;
			if (window.innerWidth < 768) {
				swiper.disable();
			} else {
				swiper.enable();
			}
			window.addEventListener('resize', function() {
				let winResize = this;
				if (winResize.innerWidth < 768) {
					swiper.disable();
				} else {
					swiper.enable();
				}
			});
		</script>
		<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
		<script src="https://unpkg.com/gsap@3/dist/Draggable.min.js"></script>
		<script>
			// use a script tag or an external JS file
			document.addEventListener("DOMContentLoaded", (event) => {
				Draggable.create(".card-carousel", {
				type: "rotation",
				inertia: true,
				minimumMovement: 0,
				snap: function (endValue) {
					var step = 8;
					return Math.round(endValue / step) * step;
				}
				});
			});
		</script>
		<script type="module" src="../main.js"></script>
	</body>
</html>
